.button{
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 30px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        background-color: #783496;
    }
}